/* style the website */
* {
    text-align: center;
    opacity: 1;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.content::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  /* Specify the background image to be used */
  background-image: url('/imgs/playingcardsbg.jpg');
  background-size: cover;

  /* Specify the background image */
  opacity: 0.2;
}


.hidden {
    display: none;
}

.defineblitz:hover + .hidden {
    display: block;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the score table element so that it is in the center of the screen
and has a border around it */
.score_table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

/* Style the table headers so that they are bold and have a background color */
.score_table th {
    font-weight: bold;
    background-color: #ddd;
    padding: 10px;
}

.input_table {
  margin-left: auto;
  margin-right: auto;
}

.player_table {
  margin-left: auto;
  margin-right: auto;
}